body {
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    margin: 0;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh; /* Ensure body covers entire viewport */
    background-image: url('campus.jpg');
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Fix the background image */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('campus.jpg'); /* Set the same image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    filter: blur(4px); /* Apply the blur effect */
    z-index: -1;
}

header {
    background: linear-gradient(to right, #710000, #AE0000);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
}

.form_container {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 300px;
    margin-top: 60px;
}

.form_container h2 {
    color:#710000;
    font-family: 'Cardo', serif; /* Roboto font */
    font-size: 24px; /* Adjusted font size */
    margin-bottom: 30px;
    margin-top:10px;
}

.input_box {
    position: relative;
    margin-bottom: 20px;
}

.input_box input {
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    outline: none;
    padding: 10px;
    width: calc(100% - 22px); 
}

.input_box input:focus {
    border-bottom-color: #AE0000;
    transition: border-bottom-color 0.3s ease;
}

.button_container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px; /* Adjusted margin */
}

.loginbtn, .signupbtn {
    background-color:  #AE0000;/* Transparent background */
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'Cardo', serif; /* Roboto font */
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    width: 48%;
}

.loginbtn:hover, .signupbtn:hover {
    background-color: #710000; /* White with opacity as hover effect */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 160px;
    max-height: 200px; /* Set a maximum height for the dropdown */
    -webkit-overflow-y: auto; /* Enable vertical scrolling for Chrome */
    overflow-y: auto; /* Enable vertical scrolling for other browsers */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Position dropdown content below the button */
    left: 0;
}

.dropdown-content a {
    color: #710000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #AE0000;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.option-btn {
    background-color: #AE0000;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Cardo', serif;
    font-size: 16px;
    padding: 10px 20px 10px 20px; /* Added padding on the right for the arrow */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.option-btn .arrow {
    margin-left: 10px; /* Add some space between the text and arrow */
}

.option-btn:hover {
    background-color: #710000;
}